/* Estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: bisque;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 4rem;
    text-shadow: 6px 6px 10px whitesmoke;
}
header nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-top: 0;
    text-align: center;
    font-size: 2.25rem;
}

/* Estilos del menú de hamburguesas */
.burger-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
}

.burger-item {
    border: 5px solid #655656;
    border-radius: 8%;
    padding: 20px;
    text-align: center;
    background-color: burlywood;
    
}

.burger-item img {
    max-width: 100%;
    height: auto;
}


.burger-item p {
    margin-bottom: 10px;
}

.burger-item button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos del carrito de compras */
.cart-items {
    border: 5px solid #141212;
    padding: 20px;
    background-color: rgb(222, 181, 128);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item h3 {
    margin: 0;
}

.cart-item button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;

}

.cart-total {
    text-align: right;
    margin-top: 20px;
}

.cart-total button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.social-links img {
    height: 30px;
    margin: 10px;
}

.social-links a {
    text-decoration: none;
    color: #fff;
}

.social-links a:hover {
    color: #ccc;
}

p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
