/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: bisque;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 4rem;
    text-shadow: 6px 6px 10px whitesmoke;
}

header nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-top: 0;
    text-align: center;
    font-size: 2.25rem;
}

/* Estilos del menú de hamburguesas */
.burger-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
}

.burger-item {
    border: 5px solid #655656;
    border-radius: 8%;
    padding: 20px;
    text-align: center;
    background-color: burlywood;

}

.burger-item img {
    max-width: 100%;
    height: auto;
}


.burger-item p {
    margin-bottom: 10px;
}

.burger-item button {
    background-color: #333;
    color: #fff;
    border: none;
    margin: 2px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos del carrito de compras */
.cart-items {
    border: 5px solid #141212;
    padding: 20px;
    background-color: rgb(222, 181, 128);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item h3 {
    margin: 0;
}

.cart-item button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;

}

.cart-total {
    text-align: right;
    margin-top: 20px;
}

.cart-total button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.social-links img {
    height: 30px;
    margin: 10px;
}

.social-links a {
    text-decoration: none;
    color: #fff;
}

.social-links a:hover {
    color: #ccc;
}

p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.centerM {
    text-align: center;
    font-size: 30px;
}

/* Estilos para tamaños de pantalla pequeños (móviles y tablets) */
@media only screen and (max-width: 768px) {

    /* Estilos para la sección de hamburguesas */
    .burger-list {
        flex-direction: column;
    }

    .burger-item {
        margin-bottom: 10px;
    }
}

/* Estilos para tamaños de pantalla muy pequeños (móviles) */
@media only screen and (max-width: 600px) {

    /* Estilos para la sección de hamburguesas */
    .burger-list {
        flex-direction: column;
    }

    .burger-item {
        margin-bottom: 20px;
    }

    /* Estilos para el carrito */
    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item .ingredient-list {
        margin-top: 10px;
    }
}

/* Estilos para tamaños de pantalla pequeños (móviles y tablets) */
@media only screen and (max-width: 768px) {

    /* Estilos para la sección de hamburguesas */
    header {
        padding: 10px 20px;
    }

    header h1 {
        font-size: 24px;
    }

    .menu-btn {
        display: block;
    }

    .burger-list {
        flex-direction: column;
    }

    .burger-item {
        margin-bottom: 10px;
    }

}

/* Estilos para tamaños de pantalla medianos (desktops) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    /* Estilos para la sección de hamburguesas */
    .burger-list {
        flex-direction: row;
    }

    .burger-item {
        margin-bottom: 0;
    }
}

/* Estilos para tamaños de pantalla grandes (desktops y laptops) */
@media only screen and (min-width: 1025px) {

    /* Estilos para la sección de hamburguesas */
    .burger-list {
        flex-direction: row;
    }

    .burger-item {
        margin-bottom: 0;
    }
}


/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-message {
    margin-top: 1%;
    text-align: center;
}

/* Contenido del modal */
.modal-content {
    background-color: bisque;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65%;
}

/* Estilos para el botón de cerrar */
.close {
    color: #6f6a6a;
    float: right;
    font-size: 34px;
    font-weight: bold;
    margin-top: -2%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.whatsapp {
    margin-left: -39%;
    color: green;
    font-size: 25px;
    cursor: pointer;
}

.whatsapp:hover {
    color: lime;
    /* Color al hacer hover */
}